body{
    margin: 0%;
}
.main{
    display: flex;
}
.left{
    background-color: #464567;
    height: 100vh;
    width: 20%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header{
    padding: 16px;
    width: 248px;
    display: flex;
    flex-direction: column;
}
.header>*{
    padding: 16px;
    display: flex;
    gap: 16px;
    align-items: center;
}
.card{
    color: rgba(255, 255, 255, 0.65);
    font-family: Roboto;
    font-size: 24px;font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.headerimg{
    height: 24px;
    width: 27px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footertxt{
    font-size: 12px;
}
.right{
    background-color: #605F8E; 
    width: 80%;
    padding: 32px 64px;
    display: flex;
    gap: 16px;
    justify-content: space-around;
}
.col1{
    display: flex; 
    flex-direction: column;
    padding: 120px 16px 120px 0px;
    gap: 10px;
    height: 600px;
}
.intro{
    height: 100px;
    color: rgba(255, 255, 255, 0.87);
    font-family: Roboto;
    font-size: 48px;
    font-weight: 400;
}
.welcome{
    color: rgba(255, 255, 255, 0.32);
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;   
}
.description{
    width: 412px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.description>p{
    color: rgba(255, 255, 255, 0.87);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.col2{
    height: 600px;
    padding: 120px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.socialicons{
    padding: 16px ;
    height: 30px;
    width: 30px;
}
.hiretext,.reply,.emailicon,#ortext{
    color: rgba(255, 255, 255, 0.87);
    text-align: center;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.reply,.emailicon,#ortext{
    color: rgba(255, 255, 255, 0.65);
    font-size: 20px;
}
.email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.emailicon{
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
}
#ortext{
    color: #FFF;
    font-size: 24px;
}
